@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.eot");
  src: url("/fonts/Gilroy-Bold.woff") format("woff"),
  url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.eot");
  src: url("/fonts/Gilroy-Medium.woff") format("woff"),
  url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body  {
  margin: 0;
  padding: 0;
}
body img  {
  border: red 1px solid;
}
.body {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  background: #ffffff;
}
#scroller {
  display: none;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #828282;
  opacity: 70%;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: fixed;
}
#scroller > img {
  width: 27px;
  align-self: center;
}
#scroller:hover {
  opacity: 100%;
}

/*.wrapper  {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
  width: 100%;
  text-align: center;

  max-width: 945px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

.header {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
  /*max-height: 88px;*/
  position: sticky;
  top: 0;
  background-color: #ffffff;
  scroll-margin-top: 120px;
  z-index: 1;
  height: 72px;
  /*transform: translateZ(0);
  -webkit-transform: translateZ(0);*/
  -webkit-transform: translate3d(0,0,0);
}

.menu {
  max-width: 945px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 8px;
  background-color: white;
}
/*.menu > button  {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;
  background-color: #ffffff;
}*/

.menu > ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.menu > ul > li {
  display: flex;
}
.menu > ul > li > a {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  text-decoration-line: none;
}
.menu > ul > li > a:hover {
  text-decoration-line: none;
  color: #070707;
}

.hr-line  {
  max-width: 945px;
  margin-right: auto;
  margin-left: auto;
}

.main {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-top: 12px;
}

.info-panel {
  margin-left: auto;
  margin-right: auto;
  max-width: 945px;
}
.info-panel > ul{
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.info-panel > ul > li {
  display: flex;
}
.name {
  text-align: left;
  font-size: 47px;
  display: flex;
  flex-direction: column;
}
.info {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  font-size: 18px;
  margin-top: 64px;
  margin-right: -520px;
  display: flex;
  flex-direction: column;
}
.lang-selector  {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-self: flex-end;
  text-align: left;
  transform: rotate(-90deg);
  margin-left: 564px;
  margin-right: -18px;
  margin-bottom: 30px;
  text-decoration-line: none;
  z-index: 0;
}
.lang-selector > a  {
  color: #828282;
  text-decoration-line: none;
}
.lang-selector > a:hover  {
  color: #070707;
}

.photo  {
  margin: 33px auto 100px auto;
  max-width: 945px;
}

.about  {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
  width: 100%;
  background: #F6F6F6;
  padding-top: 99px;
  padding-bottom: 87px;
  text-align: center;
  min-height: 338px;
}
.about > h1 {
  font-size: 34px;
  line-height: 42px;
}
.about > p{
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
}
.p1  {
  margin-top: -10px;
}
.p2  {
  margin-top: 40px;
}
.p3 {
  margin-top: 40px;
}

.skills {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
  padding-top: 90px;
  /*margin-top: 90px;*/
  margin-right: auto;
  margin-left: auto;
  max-width: 945px;
  text-align: center;
}
.skills > h1  {
  font-size: 34px;
  line-height: 42px;
  margin-top: 69px;
}
.skills > p{
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  margin-top: 69px;
}
.programs-pics  {
  display: flex;
  justify-content: space-around;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 90px;
}
.programs-pics > a > img  {
  height: 128px;
}
.programs-name  {
  font-size: 18px;
  line-height: 21px;
  margin-top: 8px;
  color: #828282;
}
.programs-name > ul{
  display: flex;
  padding: 0;
}
.programs-name > ul > li  {
  display: flex;
}
.PS {
  margin-left: 65px;
}
.AI {
  margin-left: 193px;
}
.AAE  {
  margin-left: 189px;
}
.Figma  {
  margin-left: 184px;
}
.rating {
  display: flex;
  margin-top: 24px;
}
.ps-rating  {
  margin-left: 37px;
}
.ai-rating  {
  margin-left: 133px;
}
.aae-rating {
  margin-left: 133px;
}
.figma-rating {
  margin-left: 117px;
}

.portfolio  {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #F6F6F6;
  margin-top: 110px;
  padding-top: 82px;
  padding-bottom: 100px;
}
.portfolio > h1 {
  font-size: 34px;
  line-height: 42px;
  margin-bottom: 64px;
}
.portfolio > img  {
  margin-left: auto;
  margin-right: auto;
  max-width: 945px;
}
.portfolio > a{
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #070707;
}
.portf-pic1  {
  margin-bottom: 40px;
}
.portf-pic2 {
  margin-top: 100px;
  margin-bottom: 40px;
}
.portf-pic3 {
  margin-top: 100px;
  margin-bottom: 40px;
}

.footer {
  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-top: 114px;
  padding-bottom: 123px;
  text-align: center;
}
.contacts {
  margin-left: auto;
  margin-right: auto;
  max-width: 945px;
}
.contacts > h1  {
  font-size: 34px;
  line-height: 42px;
  margin-bottom: 32px;
}
.contacts > p {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
}
.footer-info  {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  flex-direction: column;
}

@keyframes expand {
  from {transform: scale(1, 1);}
  to  {transform: scale(1.1, 1.1);}
}

.contact-pics  {
  margin-top: 82px;
  margin-bottom: 41px;
}
.contact-pics > a {
  margin-left: 28px;
  margin-right: 28px;
}
.contact-pics > a > img:hover {
  animation-name: expand;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes change-color {
  from  {background-color: #070707;}
  to  {background-color: #828282;}
}

.contacts > button  {
  background-color: #070707;
  font-size: 18px;
  line-height: 22px;
  height: 42px;
  width: 180px;
  text-align: center;
  border: none;
  color: #ffffff;
  border-radius: 20px;
}
.contacts > button:hover  {
  animation-name: change-color;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
